html {
  scroll-behavior: smooth;
}

body {
  font-family: "PT Sans Narrow", sans-serif;
  background-color: #efefef;
  color: #757575;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.5px;
}
